/* .feed-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 2rem 0;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.avatar {
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-text {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.user-title {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.time-ago {
  margin-left: 4px;
  font-size: 12px;
  color: gray;
  font-weight: normal;
  text-transform: none;
}

.user-headline {
  font-size: 13px;
  color: gray;
  font-weight: 500;
}

.post-title {
  margin-bottom: 1rem;
}

.post-image {
  width: 100%;
}

.social-bar {
  display: flex;
  justify-content: space-between;
}

.social-options {
  display: flex;
  gap: 2rem;
}

.social-options > * {
  cursor: pointer;
}

.comment-box {
  width: 100%;
  gap: 8px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-box > input {
  width: 100%;
  background-color: #e2e2e2;
  border-radius: 99px;
  outline: none;
  border: none;
  padding: 0.6rem 1.5rem;
}

.likes-count {
  font-size: 14px;
}

.flex {
  display: flex;
}

.gap-8 {
  gap: 8px;
}

.link {
  text-decoration: none;
  color: #000;
}

.btn-comment {
  align-items: center;
  background-color: rgb(209, 209, 255);
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-comment:hover {
  background-color: rgb(201, 201, 255);
} */
